<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멜런 따라하기</title>


</head>

<style>
    .container {
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 5rem;
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    li {
        margin-right: 10px;
    }

    .container>div>div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .container>div>div>span {
        display: inline-block;
        width: calc(10rem - 1rem);
    }
</style>

<body>
    <div class="container">
        <div>
            <div>
                <span>종합</span>
                <ul>
                    <li><a th:href="@{music/genre(장르종합)}"><span>장르종합</span></a></li>
                    <li><a th:href="@{music/genre(국내종합)}"><span>국내종합</span></a></li>
                    <li><a th:href="@{music/genre(해외종합)}"><span>해외종합</span></a></li>
                </ul>
            </div>

            <div>
                <span>한국대중음악</span>

                <ul>
                    <li><a th:href="@{music/genre(국내_발라드)}"><span>발라드</span></a></li>
                    <li><a th:href="@{music/genre(국내_댄스)}"><span>댄스</span></a></li>
                    <li><a th:href="@{music/genre(국내_랩／힙합)}"><span>랩/힙합</span></a></li>
                    <li><a th:href="@{music/genre(국내_R&B)}"><span>R&amp;B/Soul</span></a></li>
                    <li><a th:href="@{music/genre(국내_인디음악)}"><span>인디음악</span></a></li>
                    <li><a th:href="@{music/genre(국내_록／메탈)}"><span>록/메탈</span></a></li>
                    <li><a th:href="@{music/genre(국내_트로트)}"><span>트로트</span></a></li>
                    <li><a th:href="@{music/genre(국내_포크／블루스)}"><span>포크/블루스</span></a></li>
                </ul>
            </div>

            <div>
                <span>해외POP음악</span>

                <ul>
                    <li><a th:href="@{music/genre(해외_POP)}"><span>POP</span></a></li>
                    <li><a th:href="@{music/genre(해외_록／메탈)}"><span>록/메탈</span></a></li>
                    <li><a th:href="@{music/genre(해외_일렉트로니카)}"><span>일렉트로니카</span></a></li>
                    <li><a th:href="@{music/genre(해외_랩／힙합)}"><span>랩/힙합</span></a></li>
                    <li><a th:href="@{music/genre(해외_R&B／Soul)}"><span>R&amp;B/Soul</span></a></li>
                    <li><a th:href="@{music/genre(해외_포크／블루스／컨트리)}"><span>포크/블루스/컨트리</span></a></li>
                </ul>
            </div>

            <div>
                <span>그외인기장르</span>

                <ul>
                    <li><a th:href="@{music/genre(그외_OST)}"><span>OST</span></a></li>
                    <li><a th:href="@{music/genre(그외_재즈)}"><span>재즈</span></a></li>
                    <li><a th:href="@{music/genre(그외_뉴에이지)}"><span>뉴에이지</span></a></li>
                    <li><a th:href="@{music/genre(그외_J-pop)}"><span>J-pop</span></a></li>
                    <li><a th:href="@{music/genre(그외_월드뮤직)}"><span>월드뮤직</span></a></li>
                    <li><a th:href="@{music/genre(그외_CCM)}"><span>CCM</span></a></li>
                    <li><a th:href="@{music/genre(그외_어린이／태교)}"><span>어린이/태교</span></a></li>
                    <li><a th:href="@{music/genre(그외_종교음악)}"><span>종교음악</span></a></li>
                    <li><a th:href="@{music/genre(그외_국악)}"><span>국악</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</body>



<script>


    // 각 링크 요소에 대한 처리 반복
    var links = document.querySelectorAll('a');
    for (var i = 0; i < links.length; i++) {
        var link = links[i];
        var genre = link.href.split('_')[1]; // href 속성값 중 / 뒤의 문자열 가져오기
        var query = `SELECT * FROM songs WHERE genre = '${genre}'`;
        // query 변수를 사용하여 데이터베이스 쿼리 실행
        // ...
    }
</script>

</html>